@define-color text #420061;
@define-color background #9654DF;
@define-color border #7641b0;

* {
   font-family: "Terminess Nerd Font";
   font-weight: bold;
   font-size: 18px;
}

window#waybar {
   background-color: rgba(113,62,171,0.75);
   border-radius: 12px;
}
#window {
   margin-top: 8px;
   padding-left: 12px;
   padding-right: 12px;
   transition: none;
   background: transparent;
}
#image {
   margin-top: 4px;
   margin-bottom: 4px;
   margin-left: 4px;
   padding: 4px;
   background: @background;
   border-radius: 12px;
   border-style: solid;
   border-color: @border;
}
#clock {
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 12px;
   padding-right: 12px;
   background: @background;
   color: @text;
   border-radius: 12px;
}
#workspaces {
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 4px;
   padding-right: 4px;
   background: @background;
   border-radius: 12px;
}
#workspaces button {
   margin-top: 4px;
   margin-bottom: 4px;
   margin-right: 4px;
   margin-left: 4px;
   padding-left: 4px;
   padding-right: 4px;
   background: #844bc4;
   border-radius: 8px;
}
#workspaces button.active {
   margin-top: 4px; 
   margin-bottom: 4px;
   margin-right: 6px;
   margin-left: 6px;
   padding-left: 8px;
   padding-right: 8px;
   background: #a568e8;
   border-radius: 8px;
}
#workspaces button:hover {
   box-shadow: inherit;
   text-shadow: inherit;
}
#language {
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 8px;
   padding-right: 8px;
   background: @background;
   color: @text;
   border-radius: 12px;
}
#network {
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 8px;
   padding-right: 14px;
   background: @background;
   color: @text;
   border-radius: 12px;
}
#bluetooth {
   margin-top: 4px;
   margin-bottom: 4px;
   padding-left: 10px;
   padding-right: 10px;
   background: @background;
   color: @text;
   border-radius: 12px;
}
#battery {
   margin-top: 4px;
   margin-bottom: 4px;
   margin-right: 4px;
   padding-left: 10px;
   padding-right: 18px;
   background: @background;
   color: @text;
   border-radius: 12px;
}
